.gutterLayer {
  padding: 5px 0;
  user-select: none;
  cursor: default;
  background-color: var(--gutter-background, #282c34);
  overflow: hidden;
  flex-shrink: 0;
  padding-bottom: 30px; /* additional space for text scrollbar */
  margin-bottom: -25px;

  overflow: scroll;
  overflow-x: hidden;
}

.lineNumber {
  text-align: right;
  line-height: 1.3em;
  color: #636d83;
  padding: 0 10px;
}
