.textInput {
  position: absolute;
  height: 1em;
  width: 1px;
  left: 0;
  top: 0;
  pointer-events: none;
  outline: none;
  border: none;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
}
