.selectionLayer {
  pointer-events: none;
}

.selectedText {
  background-color: var(--selection-color);
  position: absolute;
}

.selectedText.cornerLeftTop {
  border-top-left-radius: 3px;
}

.selectedText.cornerLeftBottom {
  border-bottom-left-radius: 3px;
}

.selectedText.cornerRightTop {
  border-top-right-radius: 3px;
}

.selectedText.cornerRightBottom {
  border-bottom-right-radius: 3px;
}

.selectedText .cornerNegative {
  position: absolute;
  width: 3px;
  height: 3px;
}

.selectedText .cornerNegative.rightBottom {
  left: 100%;
  bottom: 0;
}

.selectedText .cornerNegative.leftBottom {
  right: 100%;
  bottom: 0;
}

.selectedText .cornerNegative.rightTop {
  left: 100%;
  top: 0;
}

.cornerSvg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  fill: var(--selection-color);
}
